---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?color=orange&orientation=landscape&query=adjashdwaqs89jkqwoiqqw09202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - HIDDEN_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19992'
      X-Ratelimit-Reset:
      - '1617658881'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Sun, 07 Mar 2021 18:14:14 GMT
recorded_with: VCR 6.0.0
