---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?color=orange&orientation=landscape&query=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - HIDDEN_DATA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19995'
      X-Ratelimit-Reset:
      - '1617658881'
      X-Server:
      - master
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":33224,"width":4592,"height":3056,"url":"https://www.pexels.com/photo/aeroplane-aircraft-airplane-aviation-33224/","photographer":"Pixabay","photographer_url":"https://www.pexels.com/@pixabay","photographer_id":2659,"avg_color":"#B58E4B","src":{"original":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg","large2x":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/33224/oldtimer-aircraft-take-off-aviation.jpg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false},{"id":3285203,"width":5472,"height":3648,"url":"https://www.pexels.com/photo/man-teaching-woman-in-front-of-monitor-3285203/","photographer":"Jonathan
        Borba","photographer_url":"https://www.pexels.com/@jonathanborba","photographer_id":1491594,"avg_color":"#8B735C","src":{"original":"https://images.pexels.com/photos/3285203/pexels-photo-3285203.jpeg","large2x":"https://images.pexels.com/photos/3285203/pexels-photo-3285203.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0[...]
