---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=Denver,CO&key=HIDE_MY_DATA&to=Pueblo,%20CO
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: internal server error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Tue, 09 Mar 2021 16:43:04 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"error": 500,"info":{"statuscode":500}}'
  recorded_at: Tue, 09 Mar 2021 16:43:04 GMT
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=HIDE_DATA&exclude=minutely,alerts&lat=38.265425&lon=-104.610415&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.2654,"lon":-104.6104,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615308184,"sunrise":1615295901,"sunset":1615337978,"temp":52.38,"feels_like":48.54,"pressure":1012,"humidity":60,"dew_point":38.91,"uvi":4.04,"clouds":1,"visibility":10000,"wind_speed":2.51,"wind_deg":325,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1615305600,"temp":52.38,"feels_like":48.54,"pressure":1012,"humidity":60,"dew_point":38.91,"uvi":2.35,"clouds":1,"visibility":10000,"wind_speed":2.51,"wind_deg":325,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1615309200,"temp":54.54,"feels_like":49.15,"pressure":1011,"humidity":48,"dew_point":35.28,"uvi":4.04,"clouds":49,"visibility":10000,"wind_speed":4.12,"wind_deg":282,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1615312800,"temp":58.66,"feels_like":52.93,"pressure":1010,"humidity":37,"dew_point":32.49,"uvi":5.41,"clouds":75,"visibility":10000,"wind_speed":3.94,"wind_deg":239,"weather":[{"id":803,"main":"Clouds","description":[...]
